version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: board-sapa-app
    working_dir: /var/www/html
    volumes:
      - ./laravel:/var/www/html
    depends_on:
      - redis
    networks:
      - boardsapa-net

  nginx:
    image: nginx:1.27-alpine
    container_name: board-sapa-nginx
    ports:
      - "9000:80"
    volumes:
      - ./laravel:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - boardsapa-net

  redis:
    image: redis:7-alpine
    container_name: board-sapa-redis
    ports:
      - "9002:6379"
    networks:
      - boardsapa-net

networks:
  boardsapa-net:
    driver: bridge
